:root {
    /******** LIGHT MODE ********/
    /*Modal color*/
    --modal-bg-color: #ffffff;
    --modal-title-color: #000000;
    --modal-subtitle-color: #000000;
    --modal-txt-color: #000000;
    --bg-modal-color: #00000099;
    --modal-header-border-color: #0000001a;
    --modal-close: #aaaaaa;
    --modal-close-hover: #000;
    --modal-scroll-color: #808080;
    --modal-scroll-hover-color: #000000;
    --modal-scroll-shadow-color: #808080;

    /*Load Color*/
    --load-bg-color: #262626;

    /*Menu icon color*/
    --icon-bg-color: #00000047;
    --icon-hover-color: #000000;
    --burger-line-color: #ffffff;

    /*Header color*/
    --title-bg-color: #262626;

    /*Shadows icons*/
    --shadow-icon-color: #00000066;

    /*Button view*/
    --btn-bg-color: #303030;
    --btn-bg-hover-color: #0f0f0f;
    --btn-txt-color: #ffffff;
    --btn-bg-hover-color: #ffffff;
    --btn-txt-hover-color: #000000;
    --btn-shadow-color: #0f0f0f35;

    /*Station labels*/
    --label-txt-color: #ffffff;
    --label-bg-color: #000000cc;
    --label-info-bg-color: #ffffffcb;
    --label-txt-info-color: #000000;
    --label-border-color: #000000cc;

    /*Footer icons*/
    --footer-bg-color: #00000025;
    --footer-txt-color: #ffffff;
    --footer-txt-size: 12px;
    --footer-txt-weight: 400;

    /*Tooltip*/
    --tool-bg-color: #000000;
    --tool-txt-color: #ffffff;

    /******** DARK MODE ********/
    /*Modal color*/
    --dark-modal-bg-color: #ffffff;
    --dark-modal-title-color: #000000;
    --dark-modal-subtitle-color: #000000;
    --dark-modal-txt-color: #000000;
    --dark-bg-modal-color: #00000099;
    --dark-modal-header-border-color: #0000001a;
    --dark-modal-close: #aaaaaa;
    --dark-modal-close-hover: #000;
    --dark-modal-scroll-color: #808080;
    --dark-modal-scroll-hover-color: #000000;
    --dark-modal-scroll-shadow-color: #808080;

    /*Load Color*/
    --dark-load-bg-color: #262626;

    /*Menu icon color*/
    --dark-icon-bg-color: #00000047;
    --dark-icon-hover-color: #000000;
    --dark-burger-line-color: #ffffff;

    /*Header color*/
    --dark-title-bg-color: #262626;

    /*Shadows icons*/
    --dark-shadow-icon-color: #00000066;

    /*Button view*/
    --dark-btn-bg-color: #303030;
    --dark-btn-bg-hover-color: #0f0f0f;
    --dark-btn-txt-color: #ffffff;
    --dark-btn-bg-hover-color: #ffffff;
    --dark-btn-txt-hover-color: #000000;
    --dark-btn-shadow-color: #0f0f0f35;

    /*Station labels*/
    --dark-label-txt-color: #ffffff;
    --dark-label-bg-color: #000000cc;
    --dark-label-info-bg-color: #ffffffcb;
    --dark-label-txt-info-color: #000000;
    --dark-label-border-color: #000000cc;

    /*Footer icons*/
    --dark-footer-bg-color: #00000025;
    --dark-footer-txt-color: #ffffff;
    --dark-footer-txt-size: 12px;
    --dark-footer-txt-weight: 400;

    /*Tooltip*/
    --dark-tool-bg-color: #000000;
    --dark-tool-txt-color: #ffffff;

}

* {
    margin: 0;
    padding: 0;
}

.imagen {
    width: 100%;
    background-color: black;
}

#scene-container {

    width: 100%;
    height: 100%;
    position: fixed;
    outline: none;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.loadPage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--load-bg-color);
    z-index: 2;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

#header {
    position: absolute;
    top: 5em;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo {
    padding: 5%;
    width: 60px;
    height: auto;
}

#menuIcon {
    position: absolute;
    left: 5em;
    height: 50px;
    width: 50px;
    background-color: var(--icon-bg-color);
    padding: 10px;
    border-radius: 50%;
    transition: transform .2s;
}

.hamburIcon:hover .lineIcon {
    transform: scale(1.1);
    background-color: var(--icon-hover-color);
}

.hamburIcon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lineIcon {
    width: 100%;
    height: 5px;
    margin: 1px 0;
    background-color: var(--burger-line-color);
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
    transition: transform .2s;
}

.dark p {
    color: var(--dark-modal-txt-color);
}

.dark .lineIcon {
    background-color: var(--dark-burger-line-color);
}

.dark #menuIcon {
    background-color: var(--dark-icon-bg-color);
}

#title {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0px 50px 10px 50px;
    border-radius: 0px 0px 50px 50px / 25px 25px 50px 50px;
    background-color: var(--title-bg-color);
    z-index: 1;
}

.dark #title {
    background-color: #ffffff;
}

#principal-title {
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

#menuHelp {
    position: absolute;
    right: 8em;
    height: 100%;
    display: flex;
    align-items: center;
}

.iconHelp {
    position: absolute;
    height: 80%;
    filter: drop-shadow(3px 5px 2px var(--shadow-icon-color));
    transition: transform .2s;
}

.iconHelp:hover {
    transform: scale(1.2);
}

.buttonView {
    position: absolute;
    background-color: var(--btn-bg-color);
    border: none;
    color: var(--btn-txt-color);
    height: 100%;
    width: 15%;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    filter: drop-shadow(3px 5px 2px var(--shadow-icon-color));
    transition: transform .2s;
    z-index: 0;
}

.buttonView:hover {
    transform: scale(1.05);
    background-color: var(--btn-bg-hover-color);
    color: var(--btn-txt-hover-color);
}

#MenuInfo {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-modal-color);
}

#content {
    z-index: 0;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
}

.point .label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 100px;
    padding: 60px;
    left: -160px;
    bottom: -2px;
    border-radius: 20%/50%;
    background: var(--label-bg-color);
    color: var(--label-txt-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 40px;
    transform: scale(0, 0);
    transition: transform 0.3s;
    z-index: 0;
}

.point .label::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 99%;
    border-width: 25px;
    border-style: solid;
    border-color: var(--label-border-color) transparent transparent transparent;
}

.point {
    cursor: pointer;
}

.point .nom-estacion {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0px;
    left: 105px;
    width: 200px;
    padding: 20px;
    left: -95px;
    border-radius: 6px;
    background: var(--label-info-bg-color);
    color: var(--label-txt-info-color);
    line-height: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point:hover .nom-estacion {
    opacity: 1;
    overflow: hidden;
}

.point.visible .label {
    transform: scale(0.5, 0.5);
}

.point .marca {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3px;
    height: 100px;
    left: 0;
    top: -50px;
    background-color: #000000;
    transform: skew(-40deg);
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.point.visible .marca {
    transform: scale(0.5, 0.5);
}

#contentObjs {
    z-index: 1;
}

.pointer {
    position: fixed;
    left: 50%;
    top: 48%;
}

#cross {
    height: 20px;
    background-color: #000;
    position: relative;
    width: 3px;
    animation: appear 4s ease-in 1;
}

#cross::after {
    position: absolute;
    background: #000000;
    content: "";
    height: 3px;
    left: -9px;
    top: 9px;
    width: 20px;
}

.pointObject {
    position: absolute;
    top: 50%;
    left: 50%;
}

.pointObject .labelObject {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    left: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--label-bg-color);
    color: var(--label-txt-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 40px;
    transform: scale(0, 0);
    transition: transform 0.3s;
}

.pointObject {
    cursor: pointer;
}

.pointObject .infoObject {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0px;
    left: 105px;
    width: 200px;
    padding: 20px;
    left: 30px;
    border-radius: 6px;
    background: var(--label-info-bg-color);
    color: var(--label-txt-info-color);
    line-height: 1.3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.pointObject:hover .infoObject {
    opacity: 1;
    overflow: hidden;
}

.pointObject.visible .labelObject {
    transform: scale(0.5, 0.5);
}

.ModalObjects {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--bg-modal-color);
}

.contentObj {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: var(--modal-bg-color);
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 2%;
    animation: appear 350ms ease-in 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.headerModal {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 2%;
    box-shadow: 0 5px 3px -3px var(--modal-header-border-color);
}

.close,
.closeObj {
    color: var(--modal-close);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--modal-close-hover);
    text-decoration: none;
    cursor: pointer;
}

.closeObj:hover,
.clossObj:focus {
    color: var(--modal-close-hover);
    text-decoration: none;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--modal-scroll-shadow-color);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--modal-scroll-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--modal-scroll-hover-color);
}

.contentModal {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.imageObject {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.PictureModal {
    max-width: 60%;
    height: auto;
}

.titleObj {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
}

.NameObject {
    color: var(--modal-title-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.historyObjtext {
    display: flex;
    justify-content: center;
    padding: 2% 5% 2%;
    text-align: justify;
}

.ModalStation {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--bg-modal-color);
}

.contentSta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: var(--modal-bg-color);
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 2%;
    animation: appear 350ms ease-in 1;
}

.contentModal {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.imageStation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.titleSta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
}

.NameStation {
    color: var(--modal-title-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.historyStation {
    display: flex;
    justify-content: center;
    padding: 2% 5% 2%;
    text-align: justify;
}

#ModalHelp {
    z-index: 2;
}

.ModalControls {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*  background-color: rgb(0, 0, 0); */
    background-color: var(--bg-modal-color);
}

.contentHelp {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--modal-bg-color);
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 80%;
    border-radius: 2%;
    animation: appear 350ms ease-in 1;
}

.titleHelp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
}

.NameMenu {
    color: var(--modal-title-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.textHelp {
    display: flex;
    justify-content: center;
    padding: 2% 5% 2%;
    text-align: justify;
}

.titleControls {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--modal-subtitle-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.PictureControls {
    display: flex;
    flex-direction: column;
    height: auto;
}

.invert {
    margin-left: 10%;
    margin-right: 10%;
    filter: invert(100%);
}

.invert img {
    width: 80px;
    padding-bottom: 1%;
}

.InstControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-right: 5%;
}

#footer01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100px;
    right: 0.5em;
    position: fixed;
    bottom: 1em;
    background-color: #00000061;
    border-radius: 1%;
    animation: appearControls 3s ease-in 1;
    animation-delay: 1s;
}

.instView {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footer-txt-color);
    font-size: var(--footer-txt-size);
    font-weight: var(--footer-txt-weight);
    text-align: start;
    height: 100%;
    width: 70%;
    /* filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.4)); */
    transition: transform .2s;
}

.instView:hover {
    transform: scale(1.1);
}

.Mouse {
    width: 60px;
    height: 60px;
    padding-bottom: 1%;
}

.MouseClic {
    transform: scaleX(-1);
}

@keyframes appearControls {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

#keyLock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 14%;
    left: 30em;
    bottom: 1em;
    /*     background-color: var(--footer-bg-color);
    border-radius: 1%; */
    position: fixed;
    animation: appearControls 3000ms ease-in 1;
}

#footer02 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    width: 40%;
    height: 14%;
    right: 5em;
    bottom: 1em;
    position: fixed;
    background-color: var(--footer-bg-color);
    border-radius: 1%;
    animation: appearControls 3s ease-in 1;
    animation-delay: 1s;
}

#iconControlsFp {
    flex-direction: row;
}

.Escape {
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    margin-top: 5px;
}

#lockCursor {
    display: none;
}

.instEsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footer-txt-color);
    font-size: var(--footer-txt-size);
    font-weight: var(--footer-txt-weight);
    text-align: center;
    height: 100%;
    width: 100%;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

.Keys {
    width: 60px;
    height: 60px;
}

.instMove {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footer-txt-color);
    font-size: var(--footer-txt-size);
    font-weight: var(--footer-txt-weight);
    text-align: center;
    height: 100%;
    width: 70%;
    /* filter: drop-shadow(3px 5px 5px rgb(0 0 0 / 0.4)); */
    transition: transform .2s;
}

.imgMove {
    display: flex;
    flex-direction: row;
}

.instMove:hover {
    transform: scale(1.1);
}

.instMoveCamera {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footer-txt-color);
    font-size: var(--footer-txt-size);
    font-weight: var(--footer-txt-weight);
    text-align: center;
    height: 100%;
    width: 70%;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
    transition: transform .2s;
}

.instMoveCamera:hover {
    transform: scale(1.1);
}

.instJump {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--footer-txt-color);
    font-size: var(--footer-txt-size);
    font-weight: var(--footer-txt-weight);
    text-align: center;
    height: 100%;
    width: 70%;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
    transition: transform .2s;
}

.instJump:hover {
    transform: scale(1.1);
}

#footer03 {
    position: absolute;
    bottom: 5em;
    width: 100%;
    height: 4em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

#menuTeam .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--tool-bg-color);
    color: var(--tool-txt-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -20%;
    left: 8%;
    opacity: 0;
    transition: opacity 1s;
}

#menuTeam .tooltiptext::after {
    content: "";
    position: absolute;
    top: 35%;
    left: -4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent  var(--tool-bg-color) transparent transparent;
}

#menuTeam:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.iconTeam {
    position: absolute;
    left: 5em;
    height: 80%;
    filter: drop-shadow(3px 5px 2px var(--shadow-icon-color));
    transition: transform .2s;
}

.iconTeam:hover {
    transform: scale(1.2);
}

#TeamInfo {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--bg-modal-color);
}

.closeTeam {
    color: var(--modal-close);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.dark .closeTeam {
    color: white;
}

.closeTeam:hover,
.closeTeam:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contentMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--modal-bg-color);
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 80%;
    border-radius: 2%;
    animation: appear 350ms ease-in 1;
}

.titleTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.titleTeam h1 {
    color: var(--modal-title-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.teamMember {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-right: 5%;
}

.pictureTeam {
    margin-left: 10%;
}

.infoMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1% 10% 2%;
}

.nameMember {
    color: var(--modal-subtitle-color);
    text-align: start;
}

.rolMember {
    color: var(--modal-subtitle-color);
    text-align: start;
}

.universidad {
    padding-top: 5%;
    box-shadow: 0 -8px 14px -9px var(--modal-header-border-color);
}