*
{
    margin: 0;
    padding: 0;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
#scene-container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
}
.principal-title
{
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
#header
{
    height: 5%;
    background-color: black;
    width: 100%;
    display: inline-block;
}
#content
{
    height: 1%;
}
#footer 
{
    width: 100%;
    display: inline-block;
    position: relative;
    bottom: -20em;
}
