.columnas {
	display: flex;
	margin: 2px;
	padding: 5px;
}

.imagenescol {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* margin: 10px; */
	padding: 20px;
	left: 0%;
}
.pocisionamientoaudio{
	display: block;
	flex-direction: row;

} 

audio:hover,
audio:focus,
audio:active {
	-webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
.boo{
	display: flex;
	justify-content: center;
}
.audios {
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 20px;
}

audio {

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	-moz-box-shadow: 2px 2px 4px 0px #006773;
	-webkit-box-shadow: 2px 2px 4px 0px #006773;
	box-shadow: 2px 2px 4px 0px #006773;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}

.overflow-auto::-webkit-scrollbar {
	width: 7px;
	background: black;
	border: solid 2px black;
}

.circular--square {
	border-top-left-radius: 50% 50%;
	border-top-right-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
}

.caras {
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
}

.universidad {
	display: flex;
	justify-content: center;
	text-align: center;
}

.universidad h5 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.mapas {
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 20px;

}

.texto {
	display: flex;
	flex-direction: column;
	border: solid 2px black;
}
.dark .texto{
	border: solid 2px white;
	
}

.btn-close {
	background-color: #303030;
	border: none;
	color: white;
	width: 30px;
	height: 30px;
	transition: transform .2s;
}
.dark .btn-close{
	color: #000;
	background-color: #aaaaaa;
}

.btn-close:hover {
	transform: scale(1.2);
}

.cerrar {
	display: flex;
	justify-content: flex-end;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.headerModal {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
	margin-bottom: 2%;
}

#Modal {
	display: flex;
	justify-content: center;
}
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
#contentMenu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #ffffff;
	position: absolute;
	width: 60%;
	height: 80%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 33px;
	min-height: 250px;
	border-radius: 2%;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	animation: appear 350ms ease-in 1;
	z-index: 6;
}
.dark #contentMenu {
	background: #202020;
}

.seccionMenu {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	overflow-y: auto;
}

.closeMenu {
	color: #000000;
	float: right;
	font-size: 30px;
	font-weight: bold;
}
.dark .closeMenu{
	color: white;
}

.closeMenu:hover,
.closeMenu:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.dark h1 {
	color: white;
}
.dark h2 {
	color: white;
}
.dark h3 {
	color: rgb(255, 255, 255);
}
.dark .btres{
	color: #000;
}
.dark h4 {
	color: white;
}
.dark h5 {
	color: white;
}
.dark h6 {
	color: white;
}
h1 {
	color: #000000;
}

h2 {
	color: #000000;
}

h3 {
	color: black;
}

h4 {
	color: black;
}

h5 {
	color: black;
}

h6 {
	color: black;
}

.btn-dark2 {
	margin: 1%;
	background-color: #414aff;
	border: none;
	border-radius: 30px;
	font-family: 'Montserrat', sans-serif;
	padding: 3%;
	color: black;
}

.btn-dark2:hover {
	background-color: #78ccac;
	color: black;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 5%;
}

.responsive {
	padding-top: 10%;
	display: none;


}

.abrir {
	font-size: 80px;
}

.datos {
	color: #ffffff;
}
.dark .datos{
	color:#000;
}

.logos {
	display: flex;
	justify-content: center;
	height: 50%;
}

.logo {
	width: 80px;
	height: 80px;
}

h6 {
	margin-bottom: 7%;
}

h5 {
	font-family: 'Righteous';
}

.botones {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	padding-top: 2%;
}

.vor {
	border: solid 5px black;
}
.dark .vor {
	border: solid 5px black;
}
#historia {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	padding: 5% 5%;
	text-align: justify;
}

.tituloHistory {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
}

#horarios {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	padding: 5% 5%;
	text-align: justify;
}
.tableHorario {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.tableHorario tr:hover {
	background-color: #d009096c;
}
.Itinerario {
	background-color: #665454;
	color: #ffffff;
}
.dark .Itinerario{
	background-color: #614f4f;
	color: #000;
}
.infoTable {
	background-color: #6b5d5d;
	color: #ffffff;
}
.dark .infoTable{
	background-color: #6b5d5d;
	color: #000;
}
table,
th,
td {
	border: 1px solid black;
	color: #000;
}
.dark table{
	border: 1px solid white
}

.dark th{
	color: rgb(255, 255, 255);
	border: 1px solid white
	
}

.dark td{
	color: rgb(255, 255, 255);
	border: 1px solid white
}
.textHorarios {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pageTrain {
	display: flex;
	justify-content: center;
	padding: 2% 0 2% 0;
}

#autores {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	padding: 5% 5%;
}

#controles {
	height: 45%;
}

.boton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: transparent;
	border: none;
	padding: 5% 5%;
	background-color: #444444;
	height: 1%;
	cursor: pointer;
}
.dark .boton{
	background-color: beige;
}

.boton:hover {
	background-color: #202020;
}

.boton h3 {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
}

/*** ESTILOS BOTÓN GROW BOX ***/
.ov-btn-grow-box {
	background: rgba(0, 0, 0, 0);
	/* color de fondo */
	color: #4741d7;
	/* color de fuente */
	/* border: 2px solid #4741d7; */
	/* tamaño y color de borde */
	padding: 16px 20px;
	border-radius: 3px;
	/* redondear bordes */
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.ov-btn-grow-box:hover {
	color: #fff;
	/* color de fuente hover */
}

.ov-btn-grow-box::after {
	content: "";
	background: #4741d7;
	/* color de fondo hover */
	position: absolute;
	z-index: -1;
	padding: 16px 20px;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: scale(0, 0);
	transition: all 0.3s ease;
}

.ov-btn-grow-box:hover::after {
	transition: all 0.3s ease-out;
	transform: scale(1, 1);
}

.hola {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #000000;
}